﻿@model IEnumerable<MiCons.Data.Entities.Conjunto>
@{
    ViewBag.Title = "Conjuntos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles { @Styles.Render("~/Content/tabla") }

<div ng-controller="conjuntoController as conjunto">
    <div ng-if="!conjunto.esResidencia">
        <h2>Conjuntos</h2>
        <table ng-table="control.tablaConfig" class="table table-condensed table-bordered table-striped"
            ng-init="control=conjunto.conjunto">
            <colgroup><col width="35" /><col /><col /><col /><col width="85" /></colgroup>
            <tr ng-repeat="registro in $data" ng-form="edicionForm">
                <td data-title="'Id'" sortable="'Id'">{{registro.Id}}</td>
                <td title="'Nombre'" sortable="'Nombre'" ng-switch="registro.enEdicion">
                    <button class="btn btn-sm btn-link" ng-switch-default ng-click="conjunto.seleccionarConjunto(registro)">
                        {{registro.Nombre}}
                    </button>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Nombre" ng-model="registro.Nombre" class="editable-input form-control input-sm" required />
                    </div>
                </td>
                <td title="'Direccion'" sortable="'Direccion'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Direccion}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Direccion" ng-model="registro.Direccion" class="editable-input form-control input-sm" required />
                    </div>
                </td>
                <td title="'Telefono'" sortable="'Telefono'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Telefono}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Telefono" ng-model="registro.Telefono" class="editable-input form-control input-sm" />
                    </div>
                </td>
                @Html.Partial("_TablaComandos")
            </tr>
        </table>
    </div>
    <div ng-if="conjunto.esResidencia">
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <button class="btn btn-primary" ng-click="conjunto.esResidencia=false"><span class="glyphicon glyphicon-arrow-left"></span></button>
                </div>
            </div>
             <h2>Residencias <small>Conjunto {{conjunto.conjuntoSeleccionado.Nombre}}</small></h2>
        <table ng-table="control.tablaConfig" class="table table-condensed table-bordered table-striped clearfix"
            ng-init="control=conjunto.residencia">
            <colgroup><col width="35" /><col /><col /><col width="85" /></colgroup>
            <tr ng-repeat="registro in $data" ng-form="edicionForm">
                <td data-title="'Id'" sortable="'Id'">{{registro.Id}}</td>
                <td title="'Descripcion'" sortable="'Descripcion'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Descripcion}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Descripcion" ng-model="registro.Descripcion" class="editable-input form-control input-sm" required />
                    </div>
                </td>
                <td title="'Telefono'" sortable="'Telefono'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Telefono}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Telefono" ng-model="registro.Telefono" class="editable-input form-control input-sm" />
                    </div>
                </td>
                @Html.Partial("_TablaComandos")
            </tr>
        </table>
    </div>
</div>
@Html.Partial("_TablaComandoAgregar")

@section scripts
{
    @Scripts.Render("~/bundles/conjunto");
    <script>ConjuntoModule(@Html.Raw(JsonConvert.SerializeObject(Model)));</script>
}