﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
input.ng-invalid.ng-touched:focus, select.ng-invalid.ng-touched:focus, textarea.ng-invalid.ng-touched:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched, textarea.ng-valid.ng-touched {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.ng-valid.ng-touched:focus, select.ng-valid.ng-touched:focus, textarea.ng-valid.ng-touched:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.alert-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    margin: 2.5px;
}

.avatar {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: center/cover #CDCFD2;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    vertical-align: top
}
.avatar-small {
    font-size: 12px;
    height: 24px;
    width: 24px
}
.avatar-medium {
    font-size: 12px;
    height: 30px;
    width: 30px
}
.avatar-large {
    font-size: 14px;
    height: 36px;
    width: 36px
}

.avatar-xlarge {
    font-size: 14px;
    height: 50px;
    width: 50px
}

.avatar-color1 {
    background-color: #37C5AB;
}

.avatar-color2 {
    background-color: #E362E3;
}

.avatar-color3 {
    background-color: #FC91AD;
}

.avatar-color4 {
    background-color: #4186E0;
}

.avatar-color5 {
    background-color: #EEC300;
}

.avatar-color6 {
    background-color: #FD9A00;
}

.avatar-color7 {
    background-color: #7A6FF0;
}

.avatar-color8 {
    background-color: #AA62E3;
}

.btn-toolbar .input-group-addon, .btn-toolbar .input-group-btn {
    width: inherit;
}

.cursor-pointer {
    cursor: pointer !important;
}