﻿@model MiCons.Web.Models.PersonaCompletaModel
@{
    ViewBag.Title = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles { @Styles.Render("~/Content/tabla") }

<div ng-controller="personaController as persona">
    <div  ng-if="persona.esPersona">
        <h2>Personas</h2>
        <table class="table table-condensed table-bordered table-striped"
            ng-table="control.tablaConfig" ng-init="control=persona.usuarios">
            <colgroup><col width="35" /><col /><col /><col /><col /><col /><col /><col width="80" /><col width="85" /></colgroup>
            <tr ng-repeat="registro in $data" ng-form="edicionForm" ng-focus="edicionForm.$pristine" 
                xt-form strategy="focusedAndDirtyOrSubmitted" focus-error="true" novalidate>
                
                <td data-title="'Id'" sortable="'Persona.Id'">{{registro.Persona.Id}}</td>
                <td title="'Nombre'" sortable="'Persona.Nombre'" ng-switch="registro.enEdicion">
                    <button class="btn btn-sm btn-link" ng-switch-default ng-click="persona.seleccionarPersona(registro)">
                        {{registro.Persona.Nombre}}
                    </button>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Nombre" class="editable-input form-control input-sm"
                            ng-model="registro.Persona.Nombre" required ng-minlength="3" ng-maxlength="255"/>
                    </div>
                </td>
                <td title="'Email'" sortable="'Email'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Email}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="email" class="form-control input-sm" ng-model="registro.Email" 
                            xt-validation-tooltip required="required" ng-maxlength="90" ng-email-unico="registro">
                    </div>
                </td>
                <td title="'Documento'" sortable="'Persona.IdTipoDocumento'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{persona.ObtenerDescripcionDocumento(registro)}}</span>
                    <div class="controls" ng-switch-when="true">
                        <select class="form-control input-sm" required="required" ng-model="registro.Persona.IdTipoDocumento" 
                            ng-options="tipoDocumento.Id as tipoDocumento.Codigo for tipoDocumento in persona.tiposDocumentos"></select>
                    </div>
                </td>
                <td title="'Numero'" sortable="'Persona.NumeroDocumento'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Persona.NumeroDocumento}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" class="form-control input-sm" ng-model="registro.Persona.NumeroDocumento"
                            xt-validation-tooltip required="required" ng-maxlength="50" ng-documento-unico="registro.Persona">
                    </div>
                </td>
                <td title="'Direccion'" sortable="'Persona.Direccion'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Persona.Direccion}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Direccion" ng-model="registro.Persona.Direccion"
                            class="editable-input form-control input-sm" ng-maxlength="255"/>
                    </div>
                </td>
                <td title="'Telefono'" sortable="'Persona.Telefono'" ng-switch="registro.enEdicion">
                    <span ng-switch-default class="editable-text">{{registro.Persona.Telefono}}</span>
                    <div class="controls" ng-switch-when="true">
                        <input type="text" name="Telefono" ng-model="registro.Persona.Telefono"
                            class="editable-input form-control input-sm" ng-maxlength="50"/>
                    </div>
                </td>
                <td title="'Activo'" sortable="'Persona.Activo'">
                    <button class="btn btn-default btn-sm" ng-click="persona.activarPersona(registro)" ng-disabled="registro.enEdicion">
                        <span class="glyphicon" ng-class="{'glyphicon-unchecked':!registro.Persona.Activo,'glyphicon-check':registro.Persona.Activo}"></span>
                    </button>
                </td>
                @Html.Partial("_TablaComandos")
            </tr>
        </table>
    </div>
    <div  ng-if="!persona.esPersona">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <button class="btn btn-primary" ng-click="persona.esPersona=true">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
        </div>
        <h2>{{persona.personaSeleccionada.Persona.Nombre}}</h2>
        <div class="row">
            <div class="col-xs-6">
                <h4>Empleado</h2>
                <table class="table table-condensed table-bordered table-striped"
                    ng-table="control.tablaConfig" ng-init="control=persona.empleados">
                    <colgroup><col width="35" /><col /><col /><col width="85" /></colgroup>
                    <tr ng-repeat="registro in $data" ng-form="edicionForm">
                        <td data-title="'Id'" sortable="'Id'">{{registro.Id}}</td>
                        <td title="'Conjunto'" sortable="'IdConjunto'" ng-switch="registro.enEdicion">
                            <span ng-switch-default class="editable-text">{{persona.ObtenerDescripcionConjuntos(registro.IdConjunto)}}</span>
                            <div class="controls" ng-switch-when="true">
                                <select ng-options="conjunto.Id as conjunto.Nombre for conjunto in persona.conjuntos"
                                    ng-model="registro.IdConjunto" required="required" class="editable-input form-control input-sm"></select>
                            </div>
                        </td>
                        <td title="'Perfil'" sortable="'IdPerfil'" ng-switch="registro.enEdicion">
                            <span ng-switch-default class="editable-text">{{persona.ObtenerDescripcionPerfil(registro)}}</span>
                            <div class="controls" ng-switch-when="true">
                                <select ng-options="perfil.Id as perfil.Descripcion for perfil in persona.perfiles"
                                    ng-model="registro.IdPerfil" required="required" class="editable-input form-control input-sm"></select>
                            </div>
                        </td>
                        @Html.Partial("_TablaComandos")
                    </tr>
                </table>
            </div>
            <div class="col-xs-6">
                <h4>Residente</h2>
                <table class="table table-condensed table-bordered table-striped"
                    ng-table="control.tablaConfig" ng-init="control=persona.residentes">
                    <colgroup><col width="35" /><col /><col /><col width="85" /></colgroup>
                    <tr ng-repeat="registro in $data" ng-form="edicionForm">
                        <td data-title="'Id'" sortable="'Id'">{{registro.Id}}</td>
                        <td title="'Conjunto'" sortable="'IdConjunto'" ng-switch="registro.enEdicion">
                            <span ng-switch-default class="editable-text">{{persona.ObtenerDescripcionConjuntos(registro.Residencia.IdConjunto)}}</span>
                            <div class="controls" ng-switch-when="true">
                                <select ng-options="conjunto.Id as conjunto.Nombre for conjunto in persona.conjuntos"
                                    ng-model="registro.Residencia.IdConjunto" required="required" ng-change="persona.obtenerResidencias(registro)"
                                    class="editable-input form-control input-sm"></select>
                            </div>
                        </td>
                        <td title="'Residencia'" sortable="'IdResidencia'" ng-switch="registro.enEdicion">
                            <span ng-switch-default class="editable-text">{{registro.Residencia.Descripcion}}</span>
                            <div class="controls" ng-switch-when="true">
                                <select ng-options="residencia.Id as residencia.Descripcion for residencia in persona.residencias"
                                    ng-model="registro.IdResidencia" ng-change="persona.AgregarResidencia(registro)" required="required" class="editable-input form-control input-sm"></select>
                            </div>
                        </td>
                        @Html.Partial("_TablaComandos")
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_TablaComandoAgregar")

@section scripts
{
    @Scripts.Render("~/bundles/persona");
    <script>PersonaModule(@Html.Raw(JsonConvert.SerializeObject(Model)));</script>
}