﻿@{
    ViewBag.Title = "Activar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambia la clave</h2>
<form ng-submit="activacion.cambiarClave()" ng-focus="frmClave.$pristine" ng-controller="activacionUsuarioController as activacion"
    name="frmClave" role="form" xt-form strategy="focusedAndDirtyOrSubmitted" focus-error="true" novalidate>
    <div class="form-group">
        <label class="control-label sr-only">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" xt-validation-tooltip required="required"
               ng-model="activacion.usuario.Clave" ng-minlength="6" ng-maxlength="255">
    </div>
    <div class="form-group">
        <label class="control-label sr-only">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" xt-validation-tooltip required="required"
               ng-model="activacion.usuario.ConfirmacionClave" ng-minlength="6" ng-maxlength="255"
               ng-equals="activacion.usuario.Clave">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-disabled="frmClave.$invalid">Sign in</button>
    </div>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/activacion");
    <script>ActivacionUsuarioModule(@Html.Raw(JsonConvert.SerializeObject(Model)));</script>
}