﻿@model IEnumerable<MiCons.Data.Entities.Perfil>
@{
    ViewBag.Title = "Perfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles { @Styles.Render("~/Content/tabla") }

<h2>Perfiles</h2>
<div ng-controller="perfilController as control">
    <table ng-table="control.tablaConfig" class="table table-condensed table-bordered table-striped">
        <colgroup><col width="35" /><col  /><col width="85" /></colgroup>
        <tr ng-repeat="registro in $data" ng-form="edicionForm">
            <td data-title="'Id'" sortable="'Id'">{{registro.Id}}</td>
            <td title="'Descripcion'" sortable="'Descripcion'" ng-switch="registro.enEdicion">
                <span ng-switch-default class="editable-text">{{registro.Descripcion}}</span>
                <div class="controls" ng-switch-when="true">
                    <input type="text" name="Descripcion" ng-model="registro.Descripcion" class="editable-input form-control input-sm" required />
                </div>
            </td>
            @Html.Partial("_TablaComandos")
        </tr>
    </table>
</div>
@Html.Partial("_TablaComandoAgregar")

@section scripts
{
@Scripts.Render("~/bundles/perfil");
<script>PerfilModule(@Html.Raw(JsonConvert.SerializeObject(Model)));</script>
}