﻿@model IEnumerable<MiCons.Data.Entities.TipoDocumento>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="jumbotron">
            <h1>MiCons</h1>
            <p class="lead">Somos la aplicación para administración de conjuntos residenciales. Si te gustaría informar de un fallo de tu hogar desde donde te encuentres, esta es tu aplicación.</p>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4" ng-controller="usuarioController as usuario">
        <h2>Crea una cuenta</h2>
        <form name="frmUsuario" role="form" ng-submit="usuario.crearUsuario()" ng-focus="frmUsuario.$pristine" 
            xt-form strategy="focusedAndDirtyOrSubmitted" focus-error="true" novalidate>
            <div class="form-group">
                <label class="control-label sr-only">Email</label>
                <input type="email" class="form-control" placeholder="Email" ng-model="usuario.nuevo.Email" xt-validation-tooltip
                    required="required" ng-email-unico="usuario.nuevo" ng-validando="usuario.validarEmail" ng-maxlength="90">
            </div>
            <div class="form-group">
                <label class="control-label sr-only">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña" xt-validation-tooltip required="required"
                ng-model="usuario.nuevo.Clave" ng-minlength="6" ng-maxlength="255">
            </div>
            <div class="form-group">
                <label class="control-label sr-only">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" xt-validation-tooltip required="required"
                ng-model="usuario.nuevo.Persona.Nombre" ng-minlength="3" ng-maxlength="255">
            </div>
            <div class="form-group" ng-class="{'has-success':frmUsuario.numeroDocumento.$touched&&frmUsuario.numeroDocumento.$valid,
                'has-error':frmUsuario.numeroDocumento.$touched&&frmUsuario.numeroDocumento.$invalid}">
                <label class="control-label sr-only">Tipo de documento</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <select required="required" ng-model="usuario.nuevo.Persona.IdTipoDocumento" 
                            ng-options="tipoDocumento.Id as tipoDocumento.Codigo for tipoDocumento in usuario.tiposDocumentos"
                            ng-blur="usuario.validarPersonaExistente()" ng-change="usuario.personaValidada=false"></select>
                    </span>
                    <input type="text" name="numeroDocumento" ng-documento-unico="usuario.nuevo.Persona" ng-validando="usuario.validarDocumento"
                        class="form-control" placeholder="Numero de documento" xt-validation-tooltip required="required"
                        ng-model="usuario.nuevo.Persona.NumeroDocumento" ng-maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label sr-only">Telefono</label>
                <input type="text" class="form-control" placeholder="Telefono"
                    ng-model="usuario.nuevo.Persona.Telefono" ng-maxlength="50">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" ng-disabled="frmUsuario.$invalid">Sign in</button>
            </div>
        </form>
    </div>
</div>
@section scripts
{
@Scripts.Render("~/bundles/home");
<script>HomeModule(@Html.Raw(JsonConvert.SerializeObject(Model)));</script>
}