﻿@model MiCons.Web.Models.NovedadModel
@{
    ViewBag.Title = "Novedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles { @Styles.Render("~/Content/tabla") }
<div ng-controller="novedadController as controlador">
    <div ng-if="!controlador.novedadSeleccionada">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <button class="btn btn-primary" ng-if="controlador.puedeAgregarNovedad()" ng-click="controlador.agregarNovedad()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <h2>Novedades</h2>
        <table class="table table-condensed table-bordered table-striped ng-scope ng-table">
            <thead>
                <tr class="ng-table-sort-header">
                    <th title="Id" class="header sortable" ng-click="controlador.ordenarPor('Id')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('Id'), 'sort-desc': controlador.esDescendente('Id') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">Id</span>
                        </div>
                    </th>
                    <th title="Estado" class="header sortable" ng-click="controlador.ordenarPor('Estado.Descripcion')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('Estado.Descripcion'), 'sort-desc': controlador.esDescendente('Estado.Descripcion') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">Estado</span>
                        </div>
                    </th>
                    <th title="De" class="header sortable" ng-click="controlador.ordenarPor('IdPersonaCreada')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('IdPersonaCreada'), 'sort-desc': controlador.esDescendente('IdPersonaCreada') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">De</span>
                        </div>
                    </th>
                    <th title="Asunto" class="header sortable" ng-click="controlador.ordenarPor('Asunto')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('Asunto'), 'sort-desc': controlador.esDescendente('Asunto') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">Asunto</span>
                        </div>
                    </th>
                    <th title="Descripcion" class="header sortable" ng-click="controlador.ordenarPor('Descripcion')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('Descripcion'), 'sort-desc': controlador.esDescendente('Descripcion') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">Descripcion</span>
                        </div>
                    </th>
                    <th title="Perfil" class="header sortable" ng-click="controlador.ordenarPor('PerfilAsignado.Descripcion')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('PerfilAsignado.Descripcion'), 'sort-desc': controlador.esDescendente('PerfilAsignado.Descripcion') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">Perfil</span>
                        </div>
                    </th>
                    <th title="Asignado" class="header sortable" ng-click="controlador.ordenarPor('PersonaAsignada.Nombre')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('PersonaAsignada.Nombre'), 'sort-desc': controlador.esDescendente('PersonaAsignada.Nombre') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">Asignado</span>
                        </div>
                    </th>
                    <th title="Fecha" class="header sortable" ng-click="controlador.ordenarPor('Fecha')"
                        ng-class="{ 'sort-asc': controlador.esAscendente('Fecha'), 'sort-desc': controlador.esDescendente('Fecha') }">
                        <div class="ng-table-header ng-scope">
                            <span class="ng-binding sort-indicator">Fecha</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <colgroup><col width="35"><col width="70"><col><col><col><col><col width="90"><col width="70"></colgroup>
            <tbody>
                <tr class="cursor-pointer" ng-repeat="novedad in controlador.novedades" ng-click="controlador.seleccionarNovedad(novedad)">
                    <td>{{novedad.Id}}</td>
                    <td title="{{novedad.Estado.Descripcion}}" class="text-center"><span class="glyphicon" ng-class="{'glyphicon-unchecked':novedad.IdEstado===1,'glyphicon-eye-open':novedad.IdEstado===2,'glyphicon-check':novedad.IdEstado===3}"></span></td>
                    <td>{{novedad.PersonaCreada.Nombre}}</td>
                    <td>{{novedad.Asunto}}</td>
                    <td>{{novedad.Descripcion}}</td>
                    <td>{{novedad.PerfilAsignado.Descripcion}}</td>
                    <td title="{{novedad.PersonaAsignada.Nombre}}" class="text-center">
                        <span ng-if="novedad.PersonaAsignada" class="avatar avatar-small avatar-color4">
                            {{novedad.PersonaAsignada.Iniciales}}
                        </span>
                    </td>
                    <td>{{novedad.Fecha|date:'yy/MM/dd'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="controlador.novedadSeleccionada" ng-init="novedad=controlador.novedadSeleccionada">
        <div class='btn-toolbar pull-right'>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle avatar avatar-large avatar-color1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" title="{{novedad.PersonaAsignada.Nombre}}"
                    ng-disabled="!controlador.puedeCambiarAsignacionNovedad()" ng-click="frmNovedad.$setDirty()">
                    {{novedad.PersonaAsignada.Iniciales}}
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="novedad.PersonaAsignada=undefined; novedad.IdPersonaAsignada=undefined;">Sin asignar</a></li>
                    <li role="separator" class="divider"></li>
                    <li ng-repeat="persona in controlador.personas" ng-click="novedad.PersonaAsignada=persona; novedad.IdPersonaAsignada=persona.Id;"><a href="#">{{persona.Nombre}}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    ng-disabled="!controlador.puedeCambiarAsignacionNovedad()" ng-click="frmNovedad.$setDirty()">
                    {{novedad.PerfilAsignado.Descripcion || 'Sin perfil'}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="novedad.PerfilAsignado=undefined; novedad.IdPerfilAsignado=undefined;">Sin perfil</a></li>
                    <li role="separator" class="divider"></li>
                    <li ng-repeat="perfil in controlador.perfiles" ng-click="novedad.PerfilAsignado=perfil; novedad.IdPerfilAsignado=perfil.Id;"><a href="#">{{perfil.Descripcion}}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    title="{{novedad.Estado.Descripcion}}" ng-disabled="!controlador.puedeCambiarEstadoNovedad()" ng-click="frmNovedad.$setDirty()">
                    <span class="glyphicon" ng-class="{'glyphicon-unchecked':novedad.IdEstado===1,'glyphicon-eye-open':novedad.IdEstado===2,'glyphicon-check':novedad.IdEstado===3}"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="estado in controlador.estados" ng-click="novedad.Estado=estado;novedad.IdEstado=estado.Id;"><a href="#">{{estado.Descripcion}}</a></li>
                </ul>
            </div>
        </div>
        
        <h2>Novedad <small>{{novedad.PersonaCreada.Nombre}} - {{novedad.Fecha|date:'yy/MM/dd'}}</small></h2>
        <form name="frmNovedad" role="form" ng-submit="controlador.guardarNovedad()" ng-focus="frmNovedad.$pristine" 
            xt-form strategy="focusedAndDirtyOrSubmitted" focus-error="true" novalidate>
            <div class="form-group">
                <label>Residencia</label>
                <div class="input-group">
                    <select class="form-control" ng-options="conjunto.Id as conjunto.Nombre for conjunto in controlador.conjuntos"
                        ng-model="novedad.IdConjunto" ng-change="controlador.obtenerResidencias(novedad)"
                        ng-disabled="!controlador.puedeCambiarNovedad()" xt-validation-tooltip required="required"></select>
                    <span class="input-group-addon">
                        <select ng-options="residencia.Id as residencia.Descripcion for residencia in controlador.residencias"
                            ng-model="novedad.IdResidencia" ng-disabled="!controlador.puedeCambiarNovedad()"
                            xt-validation-tooltip required="required"></select>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Asunto</label>
                <input type="text" class="form-control" placeholder="Asunto" ng-model="novedad.Asunto"
                    ng-disabled="!controlador.puedeCambiarNovedad()" xt-validation-tooltip required="required" ng-maxlength="50">
            </div>
            <div class="form-group">
                <label>Descripcion</label>
                <input type="text" class="form-control" placeholder="Descripcion" ng-model="novedad.Descripcion"
                    ng-disabled="!controlador.puedeCambiarNovedad()" xt-validation-tooltip required="required" ng-maxlength="90000">
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="frmNovedad.$invalid || frmNovedad.$pristine">Guardar</button>
            <button type="button" class="btn btn-default" ng-click="controlador.novedadSeleccionada=undefined">Cancelar</button>
        </form>
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Comentarios</h3>
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="2" ng-model="controlador.comentario.Descripcion"></textarea>
                <button type="button" class="pull-right btn btn-default" ng-click="controlador.agregarComentario()" ng-show="controlador.esModificacion()">Comentar</button>
                <div class="media" ng-repeat="comentario in controlador.comentarios">
                    <div class="media-left">
                        <span class="avatar avatar-large avatar-color1">{{comentario.Persona.Iniciales}}</span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{comentario.Persona.Nombre}} <small>{{comentario.Fecha|date:'yy/MM/dd'}}</small></h4>
                        {{comentario.Descripcion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
@Scripts.Render("~/bundles/novedad");
<script>NovedadModule(@Html.Raw(JsonConvert.SerializeObject(Model)));</script>
}