﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MiCons", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" ng-controller="autenticacionController as autenticacion">
                <ul class="hidden nav navbar-nav" ng-remove-class="hidden" ng-if="autenticacion.estaAutenticado()">
                    <li><a href="@Url.Content("~/Novedad")">Novedad</a></li>
                </ul>
                <ul class="hidden nav navbar-nav" ng-remove-class="hidden" ng-if="autenticacion.esAdministrador()">
                    <li><a href="@Url.Content("~/conjunto")">Conjunto</a></li>
                    <li><a href="@Url.Content("~/Perfil")">Perfil</a></li>
                    <li><a href="@Url.Content("~/Persona")">Persona</a></li>
                </ul>
                <form name="frmAutenticacion" class="hidden navbar-form navbar-right" ng-remove-class="hidden"
                    ng-if="!autenticacion.estaAutenticado()" ng-submit="autenticacion.autenticar()">
                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" required="required"
                               ng-model="autenticacion.usuario.Email" ng-maxlength="90">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Contraseña" class="form-control" required="required"
                               ng-model="autenticacion.usuario.Clave" ng-maxlength="255">
                    </div>
                    <button type="submit" class="btn btn-success" ng-disabled="frmAutenticacion.$invalid">Iniciar sesión</button>
                </form>
                <p class="hidden navbar-text navbar-right text-capitalize" ng-remove-class="hidden" ng-if="autenticacion.estaAutenticado()">
                    Sesión: <b>{{autenticacion.obtenerSesion().Nombre}}</b> | <a class="navbar-link" href="@Url.Content("~/Usuario/Desconectar")">Salir</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MiCons</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>