﻿<script type="text/ng-template" id="headerAgregar.html">
    <button class="btn btn-primary btn-sm" ng-click="control.agregarElemento()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</script>