﻿<td header="'headerAgregar.html'">
    <button class="btn btn-primary btn-sm" ng-click="control.guardarElemento(registro,edicionForm)"
            ng-if="registro.enEdicion" ng-disabled="!control.puedeGuardar(edicionForm)">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button class="btn btn-default btn-sm" ng-click="control.cancelarElemento(registro,edicionForm)"
            ng-if="registro.enEdicion">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-default btn-sm" ng-click="control.editarElemento(registro)"
            ng-if="!registro.enEdicion">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button class="btn btn-danger btn-sm" ng-click="control.removerElemento(registro)"
            ng-if="!registro.enEdicion">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</td>